ClarityServicesTestUnits/Service References/LVFWS/LedorVadorFlowService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://app.smg.com.ar/PruebaWSNet/WSLedorVadorQTECH/LedorVadorFlowService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClarityServices.LedorVador" />
  <xs:element name="SendPackages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClarityServices.LedorVador" minOccurs="0" name="request" nillable="true" type="q1:LedorVadorRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPackagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClarityServices.LedorVador" minOccurs="0" name="SendPackagesResult" nillable="true" type="q2:LedorVadorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>