ClarityServicesTestUnits/Service References/LVASMX_SMG01/LVService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendPackages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:LedorVadorRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LedorVadorRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="packages" type="tns:ArrayOfLedorVadorFlowPackage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLedorVadorFlowPackage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LedorVadorFlowPackage" nillable="true" type="tns:LedorVadorFlowPackage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LedorVadorFlowPackage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="histClinica" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="razonSocial" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="empresaPropia" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="documento_externId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="establecimiento_numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="documento_numero" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="observacion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tipoServicioId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="tipoImpuestoId_Iva" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="importeUnitario" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendPackagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendPackagesResult" type="tns:LedorVadorResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LedorVadorResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="documentosAceptados" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="documentosOmitidos" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="responseMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendPackagesSoapIn">
    <wsdl:part name="parameters" element="tns:SendPackages" />
  </wsdl:message>
  <wsdl:message name="SendPackagesSoapOut">
    <wsdl:part name="parameters" element="tns:SendPackagesResponse" />
  </wsdl:message>
  <wsdl:portType name="LVServiceSoap">
    <wsdl:operation name="SendPackages">
      <wsdl:input message="tns:SendPackagesSoapIn" />
      <wsdl:output message="tns:SendPackagesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LVServiceSoap" type="tns:LVServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendPackages">
      <soap:operation soapAction="http://tempuri.org/SendPackages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LVServiceSoap12" type="tns:LVServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendPackages">
      <soap12:operation soapAction="http://tempuri.org/SendPackages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LVService">
    <wsdl:port name="LVServiceSoap" binding="tns:LVServiceSoap">
      <soap:address location="http://app.smg.com.ar/pruebawsnet/WSLedorVadorQTECH/LVService.asmx" />
    </wsdl:port>
    <wsdl:port name="LVServiceSoap12" binding="tns:LVServiceSoap12">
      <soap12:address location="http://app.smg.com.ar/pruebawsnet/WSLedorVadorQTECH/LVService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>